body{
	display: grid;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}
button{
	color:blue;
	border:none;
	height:40px;
	width: 100px;
	border-radius:7px;
	cursor: pointer;
}
button:hover{
	color:white;
	background-color: #3b82f6;
	box-shadow: 0 0 0 5px #3b83f65f;
}