body{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #353535;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    user-select: none;
}
span{
    font-size: 50px;
    letter-spacing: 7px;
    text-shadow: 0 0 10px #3C6E71;
    transition: 5s ;
    cursor: pointer;
}
span:hover{
    transition: 0.2s ease;
    color: #8aeff8;
    text-shadow: 0 0 20px #8aeff8;
}